*{
  padding: 0;
  margin: 0;
}

html body{
background-color: #298aa8;
background-image: linear-gradient(45deg, #298aa8 21%, #cbc73b 85%);
}

header{
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Fira Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
}
header p{
  font-weight: bolder;
  font-size: large;
  font-style: italic;
  text-decoration: dashed;
}

header h1{
  position: static;
  padding-bottom: 1vh;
}

h2{
background-color: rgba(177, 97, 70, 0.84);
  border-radius: 10px;
  padding: 2vh;
  margin: 1.2vh 0;
  text-decoration: underline;
  font-family: 'Dancing Script', cursive;
  font-size: 2rem;
  font-weight: bolder;
}

main article{
    display: flex;
    flex-direction: column;
    margin: 0 60px;
    text-align: center;
  font-family: 'Courgette', cursive;
  font-size: large;
}

.second{
    display: flex;
    justify-content: center;
}

#second p{
  font-family:Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

.second h2{
    
  border: 211.5px solid lavender
}
@import url('https://fonts.googleapis.com/css?family=Raleway:200');
section {
font-family: 'Poppins', sans-serif;
background:rgb(71, 66, 66);
}

.wrapper {
  position: absolute;
  top: 110%;
  left: 40%;
  width: 300px;
  height: 500px;
  perspective: 900px;
}

.container {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  transition: .5s all ease;
  transform: rotateX(60deg) scale(0.7);
  perspective: 900px;
  box-shadow: 0px 20px 50px #555;
  animation: entry 1s linear 1;
}

#c0 {
  position: absolute;
  top: 13%;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #eba65b 30%, #d99267 100%);
  z-index: 300;
  box-shadow: 0px 20px 100px #555;
}

#c4 {
  position: absolute;
  top: 95%;
  width: 133.1%;
  height: 100%;
  left: -15%;
  background: linear-gradient(to bottom, #eba65b 30%, #d99267 100%);
  z-index: 300;
  box-shadow: 0px 20px 100px #555;
}

#c5 {
  position: absolute;
  top: 95%;
  width: 133.1%;
  height: 100%;
  left: 150%;
  background: linear-gradient(to bottom, #eba65b 30%, #d99267 100%);
  z-index: 300;
  box-shadow: 0px 20px 100px #555;
}

#c1 {
  top: 13%;
  background: linear-gradient(to bottom, #59476f 30%, #7b88d1 100%);
  box-shadow: 0px 20px 100px #555;
  left: 110%;
  z-index: 0;
}

#c2 {
  top: 13%;
  left: -110%;
  z-index: 0;
  background: linear-gradient(to bottom, #59476f 30%, #7b88d1 100%);
  box-shadow: 0px 20px 100px #555;
}

#c3 {
  top: 95%;
  left: -170%;
  z-index: 0;
  background: linear-gradient(to bottom, #59476f 30%, #7b88d1 100%);
  box-shadow: 0px 20px 100px #555;
}

.container:hover {
  cursor: pointer;
  transform: rotate(0deg) scale(1) translateY(10px);
  transition: .5s all ease;
  z-index: 400;
}

.image {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 45%;
  background: linear-gradient(to top, #eba65b 30%, #d99267 100%);
}

#i1 {
  background: linear-gradient(to bottom, #59476f 30%, #7b88d1 100%);
}

#i2 {
  background: linear-gradient(to bottom, #59476f 30%, #7b88d1 100%);
}


span {
  position: absolute;
  top: 0%;
  left: 55%;
  border-radius: 100%;
  background-color: #fff;
  z-index: 10;
}

.sun {
  position: absolute;
  top: 50%;
  height: 50%;
  left: 0%;
  width: 100%;
}

.sun1 {
  width: 50px;
  height: 50px;
  box-shadow: 0px 0px 10px #fff;
}

.st4 {
  fill: #f8c56f;
  opacity: 1;
}

.st5,
.st7 {
  fill: #fff;
}

#sh2 {
  opacity: 0.5;
}

#sh3 {
  opacity: 0.3;
}

.st6 {
  fill: #59476f;
}

.st10 {
  fill: #c5a7e5;
  stroke: #222;
}

.st11 {
  stroke: #212121;
  opacity: 0.5;
}

#sh1 {
  fill: #f8c56f;
  opacity: 0.4;
}

.st0 {
  fill: #a25a62;
  stroke: none;
  stroke-miterlimit: 10;
}

.st1 {
  fill: none;
  stroke: #a25a62;
  stroke-width: 2;
  stroke-miterlimit: 10;
}

.st2 {
  fill: #cd775c;
}

.st3 {
  fill: #fff;
  opacity: 0.3;
}

.story {
  position: absolute;
  top: 45%;
  left: 0%;
  height: 55%;
  width: 100%;
  background: linear-gradient(to bottom, #eba65b 0%, #d99267 40%);
  z-index: 30;
  opacity: 1%;
}

.story:hover{
    opacity:88%;
}
.story p:hover{
    color: rgb(35, 32, 32);
    font-weight: 520;
}

#s0{
  width: 107%;
}

#s1 {
  width: 107%;
  background: linear-gradient(to top, #5b62a2 0%, #7b88d1 100%);
}

#s2 {
  width: 108%;
  background: linear-gradient(to top, #5b62a2 0%, #7b88d1 120%);
}

#s4{
  width: 130%;
  background: linear-gradient(to top, #5b62a2 0%, #7b88d1 120%);
}

#s5 {
  width: 100.5%;
  background: linear-gradient(to top, #5b62a2 0%, #7b88d1 120%);
}

.info {
  position: absolute;
  top: 10%;
}

section > h3{
  font-family: 'Dancing Script', cursive;
  font-size: 1.9rem;
  font-weight: bolder;
  text-decoration: underline;
  background-color: rgba(215, 121, 90, 0.64);
  padding: 2.5vh; 
  margin: 1vh;

}

h3 {
  text-align: center;
}

h4 {
  color: #111;
  position: absolute;
  top: 30%;
  left: 30%;
  letter-spacing: 2px;
}

h1 {
  color: #111;
  position: fixed;
  top: 0%;
  left: 30%;
  letter-spacing: 2px;
}

p {
  font-size: 14px;
  color: #fff;
  padding: 0px 20px 20px 20px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 1px;
}

.page {
  position: absolute;
  top: 80%;
  width: 100%;
  left: 0%;
  height: 20%;
  z-index: 30;
}

li {
  position: absolute;
  top: 50%;
  list-style: none;
  color: #111;
}

li:nth-child(1) {
  left: 15%;
  animation: simple1 1s linear infinite;
}

li:nth-child(2) {
  right: 15%;
  animation: simple 1s linear infinite;
}

.story h3{
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
    font-style: italic;
    font-weight: bolder;
    font-size: x-large;
    margin-bottom: 5px;

}

.story p{
  font-family: 'Poppins', sans-serif;
  font-size: 0.84rem;
}

.last{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 115vh;
  padding: 6.1vh;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgb(9, 148, 144) 0%, rgba(35, 39, 50, 0.815) 90% );
}

.last p{
  font-family:cursive;
  font-size: larger;
  text-decoration: underline;
}

.last a{
  text-decoration: none;
  color:#1eca69b1;
  font-size: larger;
  font-weight: bold;
}

.last a:hover{
  color:rgba(15, 12, 57, 0.813);
  font-size:19px;
}


@keyframes simple {
  50% {
    transform: translateX(10px);
    opacity: 0.5;
  }
  100% {
    transform: translateX(10px);
    opacity: 0;
  }
}

@keyframes simple1 {
  50% {
    transform: translateX(-10px);
    opacity: 0.5;
  }
  100% {
    transform: translateX(-10px);
    opacity: 0;
  }
}

@keyframes entry {
  0% {
    top: -20%;
    opacity: 0.1;
  }
  100% {
    top: 0%;
  }
}
